### Project 2: Setting up the data

Imports:

In [4]:
import pandas as pd

Loading and sampling 5% of wikipedia data:

In [5]:
full_data = pd.DataFrame()

docs = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'number', 'other']


for i in docs:
    df = pd.read_parquet(f'data/{i}.parquet')
    print(f'{i} parquet ', df.shape)
    full_data = pd.concat([full_data, df.sample(frac = 0.02, axis = 0)])
    print("running total dataframe ", full_data.shape)

full_data.head()

a parquet  (442726, 4)
running total dataframe  (8855, 4)
b parquet  (326585, 4)
running total dataframe  (15387, 4)
c parquet  (414595, 4)
running total dataframe  (23679, 4)
d parquet  (252746, 4)
running total dataframe  (28734, 4)
e parquet  (204090, 4)
running total dataframe  (32816, 4)
f parquet  (175783, 4)
running total dataframe  (36332, 4)
g parquet  (236095, 4)
running total dataframe  (41054, 4)
h parquet  (235081, 4)
running total dataframe  (45756, 4)
i parquet  (126474, 4)
running total dataframe  (48285, 4)
j parquet  (273907, 4)
running total dataframe  (53763, 4)
k parquet  (204595, 4)
running total dataframe  (57855, 4)
l parquet  (364443, 4)
running total dataframe  (65144, 4)
m parquet  (434396, 4)
running total dataframe  (73832, 4)
n parquet  (192647, 4)
running total dataframe  (77685, 4)
o parquet  (109096, 4)
running total dataframe  (79867, 4)
p parquet  (317170, 4)
running total dataframe  (86210, 4)
q parquet  (19309, 4)
running total dataframe  (86596, 4)
r parquet  (254455, 4)
running total dataframe  (91685, 4)
s parquet  (501964, 4)
running total dataframe  (101724, 4)
t parquet  (367833, 4)
running total dataframe  (109081, 4)
u parquet  (59790, 4)
running total dataframe  (110277, 4)
v parquet  (99375, 4)
running total dataframe  (112265, 4)
w parquet  (172595, 4)
running total dataframe  (115717, 4)
x parquet  (12914, 4)
running total dataframe  (115975, 4)
y parquet  (47649, 4)
running total dataframe  (116928, 4)
z parquet  (35525, 4)
running total dataframe  (117638, 4)
number parquet  (376113, 4)
running total dataframe  (125160, 4)
other parquet  (28824, 4)
running total dataframe  (125736, 4)

,id,title,text,categories
29181,23968555,Abagrotis mirabilis,Abagrotis mirabilis is a moth of the family No...,"[Moths of North America, Moths described in 1879]"
185692,21329784,All Saints Church at Monie,All Saints Church at Monie is a historic Episc...,"[Episcopal church buildings in Maryland, Churc..."
414111,204077,August Potthast,"August Potthast (13 August 1824, Höxter, Provi...","[1824 births, 1898 deaths, People from Höxter,..."
400100,14852169,Athletics at the 2000 Summer Olympics – Men's ...,The men's 800 metres event at the 2000 Summer ...,"[Athletics at the 2000 Summer Olympics, 800 me..."
241233,56485290,Anatoly Glushenkov,"Anatoly Yegorovich Glushenkov (, 20 November 1...","[1942 births, 2018 deaths, Governors of Smolen..."

Save data for later:

In [6]:
full_data.to_parquet('Sampled_Data.parquet.gzip', compression='gzip')